<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 1rem;
    text-align: right;
    width: 100%;

    z-index: -1;
  }

  footer span {
    opacity: 0.2;
  }
</style>

<footer>
  <span><%- new Date().getFullYear() %> | vodnibivol</span>
</footer>