<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 1rem;
    text-align: right;
    width: 100%;

    opacity: 0.2;
  }

  footer span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>

<footer>
  <%- new Date().getFullYear() %> | <span id="admin">vodnibivol</span>
</footer>

<script>
  (function() {
    const mailInfo = `<a href="mailto:vodnibivol@gmail.com?subject=Predlog za Knjižarno!">vodnibivol@gmail.com</a>`
    const msg = `\
      stran sem naredil za pomoč pri raziskovanju in
      iskanju študijskega gradiva. za vse predloge,
      napake, spremembe .. piši na: ${mailInfo}.

      veliko uspehov in veselja pri uporabi!
      filip`;

    $('#admin').onclick = (e) => {
      Modal.alt({ msg, html: true });
    }
  })()
</script>