<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/public/css/main.css" />
<link rel="shortcut icon" href="/public/img/k.png" type="image/x-icon" />
<title><%= title %> | knjižarna</title>

<% if (user?.admin) { %>
  <style>
    body {
      background: rgba(224, 201, 255, 0.28) !important;
    }
  </style>
<% } else if (user) { %>
  <style>
    body {
      background: rgba(201, 255, 228, 0.28) !important;
    }
  </style>
<% }; %>

<script>
  // GLOBAL UTILITY FUNCTIONS
  const $ = (sel) => document.querySelector(sel);

  // Example POST method implementation (MDN):
  async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }
</script>

<%- include("../partials/msg") %>
<%- include("../partials/modal") %>
<%- include("../partials/miske") %>
