<style>
  #miske .miska {
    position:fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.2;
    font-weight: bold;
    font-size: 12px;
    pointer-events: none;
    user-select: none;
  }
</style>

<div id="miske"></div>

<script>
  (function(){
    const miske = [];
    let frameCount = 0;

    function setup() {}

    function draw() {
      if (frameCount % 100 === 0 && Math.random() < 0.5) {
        miske.push(new Miska());
      }

      for (let i = miske.length; i; --i) {
        miske[i-1].update();
      }

      ++frameCount;
      requestAnimationFrame(draw);
    }

    class Miska {
      constructor(offset) {
        if (Math.random() < 0.5) {
          this.dir = -1;
          this.x = document.body.clientWidth; // px
        } else {
          this.dir = 1;
          this.x = -50; // px
        }
        this.y = Math.random() * window.innerHeight; // px
        this.createElement();
      }
      
      update() {
        this.x += 5 * this.dir;
        this.el.style.transform = `translate3d(${this.x}px, ${this.y}px, 0)`;
        if ((this.dir === 1 && this.x > document.body.clientWidth) || (this.dir === -1 && this.x < -50)) {
          this.el.remove();
          miske.splice(miske.indexOf(this),1);
        }
      }
      
      createElement() {
        this.el = document.createElement("div");
        this.el.className = "miska";
        this.el.innerText = this.dir === -1 ? "<:3 )~" : "~( ε:>";
        $('#miske').appendChild(this.el);
      }
    }

    setup();
    requestAnimationFrame(draw);
  })()
</script>