<style>
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200; /* 100 je msg */
    background: #ffffffbb;
  }

  #modal .frame {
    min-width: 300px;

    background: ivory;
    padding: 1rem;
    border: thick ridge;
  }

  #modal .buttons {
    text-align: end;
  }
</style>

<div id="modal" class="flex-center" style="display: none;">
  <div class="frame">
    <span class="msg"></span>
    <hr>
    <div class="buttons">
      <button type="button" class="cancel">prekliči</button>
      <button type="button" class="ok">OK</button>
    </div>
  </div>
</div>

<script>
  const Modal = (function() {
    const modal = $('#modal');
    const okBtn = $('#modal .buttons .ok');
    const cancelBtn = $('#modal .buttons .cancel');

    modal.onclick = _onClick;
    
    function _onClick(e) {
      if (e.target.matches('.ok')) {
        _onOk();
        _closeModal();
      } else if (e.target.matches('.cancel')) {
        _onCancel();
        _closeModal();
      }
    }
    
    function _openModal() {
      $('#modal').style.display = 'flex';
    }

    function _closeModal() {
      $('#modal').style.display = 'none';
    };

    function _setMsg(msg) {
      $('#modal .msg').innerText = msg;
    }

    let _onOk, _onCancel;

    return {
      confirm(msg, onConfirm, onCancel) {
        _setMsg(msg);
        _onOk = onConfirm;
        _onCancel = onCancel || _closeModal;
        cancelBtn.style.display = 'inline-block';
        _openModal();
      },
      alert(msg) {
        _setMsg(msg);
        _onOk = _closeModal;
        cancelBtn.style.display = 'none';
        _openModal();
      }
    }
  })()
</script>
