<style>
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200; /* 100 je msg */
    background: #ffffffbb;
  }

  #modal .frame {
    min-width: 300px;
    max-width: 600px;

    background: ivory;
    /* background: #ebfaff; */
    padding: 1rem;
    border: thick ridge;
  }

  #modal span.msg {
    white-space: pre-line;
    /* ohrani line-wrape, izbriše padding na začetku */
  }

  #modal .buttons {
    text-align: end;
  }

  #modal label#remember {
    font-weight: normal;
    user-select: none;
  }
</style>

<div id="modal" class="flex-center" style="display: none;">
  <div class="frame">
    <span class="msg"></span>
    <hr>
    <div class="buttons">
      <label id="remember">ne prikaži več <input type="checkbox"> |</label>
      <button type="button" class="cancel">prekliči</button>
      <button type="button" class="ok">OK</button>
    </div>
  </div>
</div>

<script>
  const Modal = (function() {
    // --- events

    $('#modal').onclick = function ({ target: t }) {
      if (t.matches('button.ok')) {
        if ($('#remember input').checked) localStorage.setItem(_lsKey, 1);
        _onConfirm && _onConfirm();
        _closeModal();
      } else if (t.matches('button.cancel')) {
        _onCancel && _onCancel();
        _closeModal();
      }
    }

    // --- aliases
    
    function _openModal() {
      $('#modal').style.display = 'flex';
    }

    function _closeModal() {
      $('#modal').style.display = 'none';
    };

    // --- returned functions

    let _onConfirm, _onCancel, _lsKey;
    
    function alt(options = {}) {
      if (options.html) $('#modal .msg').innerHTML = options.msg;
      else $('#modal .msg').innerText = options.msg;
      _onConfirm = options.onConfirm || eval;
      _onCancel = options.onCancel;
      _lsKey = options.remember;
      $('#modal button.cancel').style.display = options.onCancel ? 'inline-block' : 'none';
      $('#modal #remember').style.display = options.remember ? 'inline-block' : 'none';
      
      if (localStorage.getItem(options.remember)) _onConfirm();
      else _openModal();
    }

    return { confirm, alert, alt };
  })();
</script>
