<style>
  #msg {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border: thick ridge;
      border-bottom: none;
      padding: 1rem;
      background: white;
      cursor: default;

      z-index: 100;
    }

    #msg * {
      pointer-events: none;
    }

    #msg[data-status="error"] {
      background: rgb(255, 195, 195);
    }

    #msg[data-status="ok"] {
      background: rgb(202, 255, 181);
    }

    #msg:hover {
      opacity: 0.5;
    }
</style>

<div id="msg" style="display:none;"></div>

<script>
  const Msg = (function() {
    // TODO: status

    const msgEl = $('#msg');

    msgEl.onclick = _hide;

    // init
    _showAndRemoveSearch();

    function _showAndRemoveSearch() {
      const u = new URL(location.href);
      const msg = u.searchParams.get('msg') || '<%- msg %>';
      if (msg) show(msg);

      // remove msg parameter
      // u.searchParams.delete('msg');
      // const newUrl = u.toString();
      // window.history.replaceState({}, document.title, newUrl);
    }

    function show(msg, status = '') {
      msgEl.innerText = msg;
      msgEl.style.display = 'block';
      msgEl.dataset.status = status;
    }

    function _hide() {
      msgEl.style.display = 'none';
    }

    return { show };
  })();
</script>
