* {
  box-sizing: border-box !important;
  font-family: Courier, Menlo, Consolas, monospace;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: ivory;
  padding-top: 3rem;
  font-size: 14px;
}

// --- DEFAULT ELEMENT STYLES

::selection {
  background: lightpink;
}

a {
  $onvisited: #551a8b; // default onvisited color

  color: $onvisited;
  cursor: pointer;

  &:active {
    color: darken($onvisited, 15%);
  }

  &.black {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

em {
  color: #bbb;
}

table {
  background: white;
  border: 1px solid;

  th,
  td {
    border: 1px solid;
    text-align: start;
    padding: 1px 3px;
  }
}

// --- INPUT

label {
  font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='button'],
input[type='submit'],
button {
  appearance: none;
  height: 20px;
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 0;
  outline: none;
  font-size: 12px;
}

textarea {
  font-size: 12px;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
  font-weight: bold;
  background: #ccc;

  &:active:not([disabled]) {
    background: #bbb;
  }

  &[disabled] {
    cursor: default;
  }
}

textarea {
  resize: none;
  overflow-y: scroll;
  outline: none;
  padding: 2px 6px;
}

// --- CLASSES

.container {
  z-index: 10;
  width: fit-content;
  margin: 4rem auto 6rem auto;
  background: #f7f7f7;
  border: 1px solid black;
  padding: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
