<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "error" }) %>
    <style>
      .container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .container img {
        border: 1px solid;
        border: 2px inset;
        border: 4px ridge;
        height: 200px;
      }
      </style>
  </head>

  <% const strings = {
      lang: 'en',
      en: {
        msg_404: 'i cannot find !'
      },
      slo: {
        msg_404: 'ne najdem !'
      },
    } %>

  <body>
    <%- include("../partials/nav") %>
    <div class="container">
      <img src="/knjizarna/public/img/404.png" alt="">
      <h2><%- strings[strings.lang].msg_404 %></h2>
    </div>

    <%- include("../partials/footer") %>
  </body>
</html>
