<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "domov" }); %>

    <style>
      .container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        text-align: center;
        width: 300px;
      }

      input[type="text"] {
        border: 1px dashed;
      }
      
      input[type="text"]:focus-within {
        border: 1px solid;
      }
      
      input[type='submit'] {
        background: lightgray;
      }

      input[type='submit']:active {
        background: gray;
      }

      .container img {
        width: 100%;
        border: thick ridge;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <img src="/public/img/silentivm.jpg" alt="medieval schola">
      <h2>iskanje</h2>
      <form action="iskanje">
        <input type="text" placeholder="ime, avtor, .." name="q" id="q" autocomplete="off" required />
        <input type="submit" value="ok" />
      </form>
    </div>

    <script>
      $(".container").onclick = () => $('input[type="text"]').select();
    </script>

    <%- include("../partials/msg") %>
    <%- include("../partials/footer") %>
  </body>
</html>
