<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "prijava" }); -%>

    <style>
      .container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        text-align: center;
        width: 300px;
      }

      input.txt {
        border: 1px dashed;
      }
      
      input.txt:focus, input.txt:not(:placeholder-shown) {
        border: 1px solid;
      }

      input {
        width: 100%;
        margin-bottom: 10px;
      }

      .container img {
        width: 100%;
        border: thick ridge;
        object-fit: cover;
      }

      .links, .links a {
        font-size: 12px;
        /* color: rgb(85, 26, 139); */
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <img src="/knjizarna/public/img/alexand.jpg" alt="medieval schola">
      <h2>prijava</h2>
      <form action="/prijava" method="post">
        <input class="txt" type="text" placeholder="uporabniško ime" name="usr" id="usr" autocomplete="off" required />
        <br>
        <input class="txt" type="password" minlength="6" placeholder="geslo" name="pwd" id="pwd" autocomplete="off" required />
        <br>
        <br>
        <input type="submit" value="ok" />
      </form>

      <p class="links"><a href="/knjizarna/pozabljivcek">pozabljeno geslo?</a> | <a href="/knjizarna/registracija">registracija</a></p>
    </div>

    <script>
      $('a[href="/knjizarna/pozabljivcek"]').onclick = (e) => {
        e.preventDefault();
        Modal.alt({
          msg: `\
          storitev žal še ni na voljo .. probaj
          se spomniti!`,
        })
      }

      window.onload = () => $('input#usr').select();
    </script>

    <%- include("../partials/footer") %>
  </body>
</html>
